//Text colors
$main-text-color: #ffffff;
$secondary-text-color: #999999;
$accent-color: #00eac5;

//Background color section
$backgrond-color: #f5f4fa;

//Fotter colors
$bg-footer: #0b265a;
$footer-main-text-color: #fff;
$footer-secondary-text-color: #d9dbde;
$footer-hover: #848fac;

// Fonts
$first-font: "Poppins", sans-serif;
$secondary-font: "Turismo CF", sans-serif;

//Buttons
$button-bg-color: #0e1734;
$button-text-color: #fff;
$main-accent-button-bg-color: #ff620a;

// Cubic-bezier
$bezier-timing: cubic-bezier(0.4, 0, 0.2, 1);
